
.menu {
    display: flex;
}
.menu-item {
    /*flex-grow: 1;*/
    width: 25%;
    background: gold;
    transition: 0.5s;
}

.menu-item:hover {
    /*flex-grow: 1.5;*/
    width: 35%;
    background: crimson;
}

.menu-link {
    display: block;
    padding: 1em;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    text-align: center;
}
.menu-link:hover {
    color: white;
}


.search-form {
    display: flex;
    height: 40px;
}

.search-form input[type='search'] {
    flex: 1;
    margin-right: 10px;
    border: 0;
    border-radius: 0.3em;
    font-size: 1rem;
}

.search-form input[type='submit'] {
    width: 4em;
    border: 0;
    border-radius: 0.3em;
    font-size: 1rem;
    background: gold;
}


.info-list-item {
    display: flex;
    margin: 0.5em 0;
}

.info-list-item:before {
    content: 'ï£¿';
    margin-right: 0.5em;
}

.user-item {
    display: flex;
    margin-bottom: 2rem;
}

.user-photo {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    margin-right: 0.5em;
    border-radius: 50%;
    /*background-color: gold;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.friend-item {
    align-items: center;
}

.user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.modal {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.dialog {
    width: 50vw;
    padding: 1em;
    border-radius: 1em;
    background: white;
}


.card-item {
    margin-bottom: 2rem;
}


.card-image {
    height: 0;
    padding-bottom: 60%;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-image img {
    display: none;
}