[Unit]

Description=Uart Service

Requires=kafka.service

After=multi.user.target



[Service]

Type=simple

ExecStart=/bin/sh -c '/home/user/jetson-inference/dbict/script/consumer.sh'

Restart=always



[Install]

WantedBy=multi-user.target


