[Unit]
Description=Uart Service
After=multi.user.target

[Service]
Type=simple
ExecStart=/bin/sh -c '/home/user/jetson-inference/dbict/script/vms.sh'
Restart=always

[Install]
WantedBy=multi-user.target

